@use 'vars/vars' as v;
@use 'mixins/media' as m;

// Container vars.
$container-paddingSm : 17.5px;
$container-paddingXl : 20px;
$container-width : 1298px;
$max-widthSm : $container-width + ($container-paddingSm * 2);
$max-widthXl : $container-width + ($container-paddingXl * 2);

.container {
	width: 100%;
	max-width: $max-widthSm;
	padding: 0 $container-paddingSm;
	margin: 0 auto;

	@include m.media(xl) {
		padding: 0 $container-paddingXl;
		max-width: $max-widthXl;
	}

	&.sm {
		max-width: calc(1100px + ($container-paddingSm * 2));

		@include m.media(xl) {
			max-width: calc(1100px + ($container-paddingXl * 2));
		}
	}

	&-fluid {
		width: 100%;
		max-width: 100%;
		padding: 0 $container-paddingSm;

		@include m.media(xl) {
			padding: 0 $container-paddingXl;
		}
	}
}