@use 'vars/vars' as v;
@use 'mixins/mixins' as m;

.order {
  &-wrapper {
    width: 100%;
    background-color: v.$dark-gray;
    display: flex;
    justify-content: center;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 20px 20px;

    @include m.media(xl) {
      margin-left: 380px;
      padding: 43px 20px 107px;
    }

    h1 {
      color: v.$dark-blue;
      text-align: center;
      font-family: v.$ff;
      font-size: 24px;
      font-weight: v.$fw-medium;
      letter-spacing: -0.24px;
      margin-bottom: 35px;

      @include m.media(xl) {
        font-size: 40px;
        letter-spacing: -0.4px;
        margin-bottom: 53px;
      }
    }

    form {
      width: 100%;
      max-width: 495px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      @include m.media(xl) {
        gap: 25px;
      }

      input {
        width: 100%;
        padding: 9px;
        border: 1px solid v.$dark-blue;
        color: v.$dark-blue;
        font-family: v.$ff;
        font-size: 16px;
        font-weight: v.$fw-regular;
        letter-spacing: -0.16px;
        background-color: v.$dark-gray;

        &::placeholder {
          color: v.$dark-blue;
          font-family: v.$ff;
          font-size: 16px;
          font-weight: v.$fw-regular;
          letter-spacing: -0.16px;
          opacity: 0.6;
        }
      }

      textarea, select {
        width: 100%;
        padding: 9px;
        border: 1px solid v.$dark-blue;
        color: v.$dark-blue;
        font-family: v.$ff;
        font-size: 16px;
        font-weight: v.$fw-regular;
        letter-spacing: -0.16px;
        background-color: v.$dark-gray;
      }

      textarea {
        resize: none;
        height: 60px;

        &::placeholder {
          color: v.$dark-blue;
          font-family: v.$ff;
          font-size: 16px;
          font-weight: v.$fw-regular;
          letter-spacing: -0.16px;
          opacity: 0.6;
        }
      }

      fieldset {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        legend {
          color: v.$dark-blue;
          font-family: v.$ff;
          font-size: 24px;
          font-weight: v.$fw-regular;
          letter-spacing: -0.24px;
          margin-bottom: 20px;
        }

        .radio-btn {
          display: flex;
          align-items: center;
          gap: 20px;
          cursor: pointer;
          color: v.$black;
          font-family: v.$ff;
          font-size: 13px;
          font-weight: v.$fw-regular;
          letter-spacing: -0.13px;

          span {
            width: 20px;
            height: 20px;
            aspect-ratio: 1;
            position: relative;

            &:before {
              content: "";
              display: block;
              width: 19px;
              height: 19px;
              border: 1px solid v.$dark-blue;
              border-radius: 50%;
              aspect-ratio: 1;
            }

            &:after {
              content: "";
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              display: block;
              width: 13px;
              height: 13px;
              background-color: v.$dark-blue;
              aspect-ratio: 1;
              border-radius: 50%;
              opacity: 0;
              transition: opacity ease v.$tr;
            }
          }

          input {
            width: 0;
            height: 0;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: -100;
            visibility: hidden;
            opacity: 0;
          }

          input:checked + span::after {
            opacity: 1;
          }
        }
      }
    }

    .button-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      position: relative;

      @include m.media(xl) {
        justify-content: flex-start;
      }

      button {
        width: 100%;
        color: v.$dark-blue;

        @include m.media(xl) {
          width: auto;
        }
      }

      img {
        width: 28px;
        height: auto;

        @include m.media(xl) {
          display: none;
        }
      }
    }

    .form-privacy {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 14px;
        height: auto;
      }

      p {
        color: v.$dark-blue;
        font-family: v.$ff;
        font-size: 9px;
        font-weight: v.$fw-regular;

        a {
          color: v.$dark-blue;
          font-family: v.$ff;
          font-size: 9px;
          font-weight: v.$fw-regular;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}