@use '../vars/vars.scss' as v;
@use '../utils/placeholders/text/text-types' as *;

@mixin text13r() {
	font-size: 13px;
	font-weight: v.$fw-regular;
	letter-spacing: -0.13px;
	@extend %default-text;
}

@mixin text15r() {
	font-size: 15px;
	font-weight: v.$fw-regular;
	letter-spacing: -0.15px;
	@extend %default-text;
}

@mixin text13m() {
	font-size: 13px;
	font-weight: v.$fw-medium;
	letter-spacing: -0.13px;
	@extend %default-text;

	& {
		line-height: 96.155%;
	}
}

@mixin text16m() {
	color: v.$black;
	font-size: v.$fs-md;
	font-weight: v.$fw-medium;
	letter-spacing: -0.16px;
	@extend %default-text;
}

@mixin text20m() {
	font-size: v.$fs-xl;
	font-weight: v.$fw-medium;
	letter-spacing: -0.2px;
	@extend %default-text;
}

@mixin title48m() {
	font-size: 48px;
	letter-spacing: -0.48px;
	text-align: center;
	font-family: v.$ff;
	font-style: normal;
	font-weight: v.$fw-medium;
	line-height: normal;
	text-transform: uppercase;
}

@mixin title64m() {
	font-size: 64px;
	letter-spacing: -0.64px;
	text-align: left;
}

@mixin btn15r() {
	font-size: 15px;
	font-weight: v.$fw-regular;
	letter-spacing: -0.15px;
}

@mixin btn16r() {
	font-size: v.$fs-md;
	font-weight: v.$fw-regular;
	letter-spacing: -0.16px;
}

@mixin other20m() {
	font-size: v.$fs-xl;
	letter-spacing: -0.2px;
	font-family: v.$ff;
	font-style: normal;
	font-weight: v.$fw-medium;
	line-height: normal;
	text-transform: uppercase;
}