.search-bar {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  border: 1px solid #0F3446;
  border-radius: 5px;

  @media (max-width: 768px) {
    display: none;
  }

  &.active {
    display: flex;
    position: absolute;
    width: calc(100% - 40px);
    background: #fff;
    top: 135px;
    left: 20px;
    z-index: 9;

    @media (max-width: 768px) {
      display: block;

      .search-bar-form {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      .search-bar-label {
        width: 100%;

        &::before {
          display: none;
        }
      }

      .search-bar-input {
        width: 100%;
        padding: 0 20px;
        height: 55px;
      }

      .search-bar-clear {
        top: 15px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  &-form {
    width: fit-content;
    display: flex;
    flex-direction: row;
  }

  &-label {
    display: flex;
    flex-direction: row;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 25px;
      height: 25px;
      top: 10px;
      left: 10px;
      background-image: url("../../../assets/img_source/search.svg");
      pointer-events: none;
    }
  }

  &-clear {
    content: '';
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 10px;
    background-image: url("../../../assets/img_source/clear.svg");
    pointer-events: none;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .15s, visibility .15s;
  }

  &-label.show-clear {
    .search-bar-clear {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &-input {
    width: 100%;
    height: 45px;
    padding: 0 45px;
    border: none;
    font-size: 14px;
    color: #0F3446;
    font-weight: 400;
    border-radius: 5px 0 0 5px;

    &:focus {
      border-color: #66afe9;
      outline: none;
      box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  &-button {
    width: fit-content;
    color: #0f3446;
    font-weight: 400;
    padding: 4px 15px;
    border-left: 1px solid #0F3446;
    border-radius: 0 5px 5px 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(101, 101, 101, .2)), to(rgba(101, 101, 101, .2))), rgba(255, 255, 255, .7);
    background: linear-gradient(0deg, rgba(101, 101, 101, .2) 0, rgba(101, 101, 101, .2) 100%), rgba(255, 255, 255, .7);
    -webkit-transition: color ease .5s;
    transition: color ease .5s;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.16px;

    &:hover {
      opacity: .7;
    }
  }
}

.header-right-actions a.mobile-search {
  display: none;
  width: 22px;
  height: 22px;
  background-image: url("../../../assets/img_source/search.svg");
  cursor: pointer;
  background-size: contain;

  @media (max-width: 768px) {
    display: block;
  }
}