<div class="modal-basket-item">
	<button class="delete" title="Удалить из корзины">
		<img src="/img/close-border.svg" width="24" height="24" alt="">
	</button>
	<div class="modal-basket-item-img">
		<img src="/img/meat.jpg" alt="">
	</div>
	<div class="modal-basket-item-info">
		<h4>Сочная говядина</h4>
		<div class="modal-basket-item-price">
			<span>329</span><span>₽</span>
		</div>
		<div class="modal-basket-calc">
			<button class="decr">
				<img src="/img/decr.svg" width="24" height="24" alt="">
			</button>
			<span class="modal-basket-weight-value">0.35</span>
			<button class="incr">
				<img src="/img/incr.svg" width="24" height="24" alt="">
			</button>
		</div>
	</div>
</div>