// Grid.
$xs	 : 375px;
$sm	 : 480px;
$md	 : 768px;
$lg	 : 992px;
$xl	 : 1200px;
$xxl : 1366px;
$xxxl: 1440px;
$big : 1728px;
$max : 1920px;

// Container vars.
$container-padding : 17.5px;
$container-width   : 1298px;
$max-width         : $container-width + ($container-padding * 2);