.add-to-basket-modal {
  .modal-basket-actions {
    justify-content: space-between;

    .modal-basket-calc-wrapper {
      .modal-price-calc {
        .calc-value {
          padding: 10px 0 10px 10px;
        }
      }
    }
  }
}

a.add-to-basket {
  color: #242424;
}