.modal-basket-item-weight {
  margin-bottom: 0;
  gap: 4px;
}

.modal-wrapper .modal.empty-basket-modal.hided,
.modal-wrapper .modal.basket-items-modal.hided {
  display: none;
}

@media (max-width: 1199px) {
  .modal-wrapper.basket-items-modal-wrapper {
    .basket-items-modal {
      .modal-basket-bottom {
        align-items: center;

        .modal-basket-total {
          justify-content: center;
        }

        .add-to-basket {
          display: flex;
          width: 90%;
        }
      }
    }
  }
}