@use 'vars/vars' as v;
@use 'mixins/media' as m;
@use 'utils/placeholders/naked-button' as *;

.button {
	font-family: v.$ff;
	@extend %naked-button;

	&.catalog-button {
		width: 100%;
		height: 34.5px;
		color: v.$dark-blue;
		text-align: center;
		font-weight: v.$fw-regular;
		font-size: 13px;
		padding: 4px;
		letter-spacing: -0.13px;
		border-radius: v.$br9;
		text-transform: uppercase;
		background: v.$bg35;
		box-shadow: v.$bs-main;
		overflow: hidden;

		@include m.media(xl) {
			height: 46px;
			font-size: 15px;
			letter-spacing: -0.15px;
			border-radius: v.$br12;
		}
	}

	&.category-button {
		min-width: 110px;
		padding: 6px;
		box-shadow: v.$bs-type1;
		background-color: v.$light-green;
		border-radius: v.$br5;

		span {
			font-family: v.$ff;
			text-transform: uppercase;
			font-size: v.$fs-xs;
			font-weight: v.$fw-regular;
			letter-spacing: -0.12px;

			@include m.media(xl) {
				font-size: 15px;
				letter-spacing: -0.15px;
			}
		}

		@include m.media(xl) {
			padding: 10px 17px;
		}

		&.mobile {
			display: flex;
			gap: 4px;
			min-width: 113px;

			@include m.media(xl) {
				display: none;
			}
		}

		&.desktop {
			display: none;

			@include m.media(xl) {
				display: flex;
			}
		}
	}
}