<div class="category-card">
	<div class="category-card-inner">
		<div class="category-card-img">
			<img src="@@src" alt="Кусок говядины">
		</div>
		<div class="category-card-info">
			<h4>@@title</h4>
			<div class="category-card-desc">
				<div class="category-card-price"><span>@@price</span> ₽</div>
				<div class="category-card-weight"><span>@@weight</span> кг</div>
				<button class="button category-button desktop">
					<span>ВЫБРАТЬ</span> 
				</button>
				<button class="button category-button mobile">
					<span>@@price</span><span>₽</span>
				</button>
			</div>
		</div>
	</div>
</div>