<div class="category-card">
	<div class="category-card-inner">
		<div class="category-card-img">
			<img src="@@src" alt="Кусок говядины">
		</div>
		<div class="category-card-info">
			<h4>@@title</h4>
			<div class="category-card-desc">
				<div class="category-card-price"><span>@@price</span> ₽</div>
				<div class="category-card-weight"><span>@@weight</span> кг</div>
				<button class="button category-button desktop call-basket">
					<span>ВЫБРАТЬ</span>
				</button>
				<button class="button category-button mobile call-basket">
					<span>@@price</span><span>₽</span>
				</button>
			</div>
		</div>
		<div class="category-card-hidden-info">
			<h4>@@title</h4>
			<div class="category-hidden-price"><span>@@price</span> ₽</div>
			<div class="category-hidden-weight"><span>@@weight</span> кг</div>
			<div class="category-hidden-texts">
				<p>Энергетическая ценность : 53 ккал/100г.</p>
				<p>Белки: 18.5 </p>
				<p>Жиры; 15.9 </p>
				<p>Углеводы: 0</p>
				<p>Срок хранения: 3 месяца</p>
				<p>Средний вес 1 шт : 0.39 кг</p>
			</div>
		</div>
	</div>
</div>