<div class="modal-wrapper basket-items-modal-wrapper opened" id="basket-items-wrapper">
	<div class="modal basket-items-modal">
		<button class="close">
			<img src="/img/close-big.svg" title="Закрыть" alt="">
		</button>
		<div class="modal-inner">
			<div class="modal-basket-items" data-simplebar>
				<div class="modal-basket-items-inner">
					@@include('../../cards/basket-card/basket-card.html')
					@@include('../../cards/basket-card/basket-card.html')
					@@include('../../cards/basket-card/basket-card.html')
					@@include('../../cards/basket-card/basket-card.html')
					@@include('../../cards/basket-card/basket-card.html')
					@@include('../../cards/basket-card/basket-card.html')
					@@include('../../cards/basket-card/basket-card.html')
					@@include('../../cards/basket-card/basket-card.html')
				</div>
			</div>
			<div class="modal-basket-bottom">
				<div class="modal-basket-total">
					<div class="modal-basket-total-price">
						Итого: <span>35 345.50</span><span>₽</span>
					</div>
				</div>
				<button class="button category-button add-to-basket">
					ОФОРМИТЬ ЗАКАЗ
				</button>
			</div>
		</div>
	</div>
</div>